.amoled {
  --background-color: #2c2f33;
  --color: #99aab5;
  --header-color: #fff;
  --link: #7289da;
  --link-hover: #5c6fb1;
  --spotify-container: #23272a;
  --spotify-progress: #363d46;
  --spotify-bar: #43484e;
  --scrollbar-track: #23272a;
  --scrollbar-thumb: #43484e;
  --scrollbar-thumb-hover: #363d46;
}

.light {
  --background-color: #fff;
  --color: #74818a;
  --link: #7289da;
  --link-hover: #5c6fb1;
  --spotify-container: #ccc;
  --spotify-progress: #666;
  --spotify-bar: #999;
  --scrollbar-track: #ddd;
  --scrollbar-thumb: #bbb;
  --scrollbar-thumb-hover: #999;
}
